@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

$gray-1: #595959;
$gray-2: #999999;
$gray-3: #919eab;
$gray-4: #e5e5e5;
$beige-1: #faf9f7;
$green-1: #5dad93;
$green-2: #2fc594;
$green-3: #3b8873;
$footer-height: 203px;
$side-padding: calc((100% - 1024px) / 2);

html {
  position: relative;
  min-height: 100%;
}

body {
  color: $gray-1;
  font-family: 'Poppins';
  font-size: 14px;
  margin: 0;
  position: relative;
}

a {
  color: $gray-1;
}

h2 {
  font-weight: 600;
}

button {
  font-size: 14px;
  cursor: pointer;
}

.font-italic {
  font-style: italic;
}

.nav {
  padding: 0 $side-padding;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  height: 70px;

  .nav-logo {
    flex: 0 0 100px;
  }

  .nav-links {
    list-style-type: none;
    padding: 10px 0 20px 40px;

    li {
      display: inline;
      padding: 0 20px;
    }

    .nav-item {
      cursor: pointer;

      &:nth-last-child(1) {
        padding-right: 0;
      }
    }
  }

  .nav-cart-wrapper {
    display: inline-block;
    position: relative;
    z-index: 0;
  }

  .nav-cart-icon {
    display: inline-block;
    width: 22px;
    margin-right: 20px;
  }

  .nav-cart-quantity {
    box-sizing: border-box;
    border-radius: 10px;
    background: $green-2;
    color: white;
    display: inline;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    position: absolute;
    left: 12px;
    top: -8px;
    padding-top: 2px;
    text-align: center;
    width: 20px;
  }
}

.page-content {
  padding: 11px $side-padding 10px $side-padding;
}

.product-list {
  list-style: none;
  padding: 0;

  .product-row {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $beige-1;
    width: 100%;

    &:nth-last-child(1) {
      border-bottom: none;
    }

    .product-add {
      box-sizing: border-box;
      background: $beige-1;
      flex: 0 0 200px;
      padding: 33px 20px 22px 20px;
    }

    .product-remove {
      color: $gray-3;
      font-size: 10px;
      text-decoration: underline;
      cursor: pointer;
    }

    .product-price {
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      margin-top: 0;
    }
  }

  .product-info {
    flex: 1 1;
    margin: 0 20px;

    h3 {
      color: #5dad93;
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    h4 {
      font-size: 16px;
      margin: 0 0 4px 0;
      font-weight: 500;
    }

    p {
      color: $gray-1;
      font-size: 14px;
    }
  }

  .product-thumbnail {
    width: 20%;
    img {
      min-width: 30px;
      max-width: 100%;
    }
  }
}

.macarons-logo {
  width: 100px;
}

.page-wrapper {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  padding: 0 0 $footer-height 0;
}

.btn-add {
  background: $green-1;
  border-radius: 2px;
  height: 50px;
  width: 175px;
  color: white;

  &.added {
    background: $green-2;
  }
}
