@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

$gray-1: #595959;
$gray-2: #919eab;
$beige-1: #faf9f7;
$green-1: #5dad93;
$green-2: #2fc594;
$footer-height: 203px;
$side-padding: calc((100% - 1024px) / 2);

html {
  position: relative;
  min-height: 100%;
}

body {
  color: $gray-1;
  font-family: 'Poppins';
  font-size: 14px;
  position: relative;
}

a {
  color: $gray-1;
}

button {
  font-size: 14px;
  cursor: pointer;
}

.font-italic {
  font-style: italic;
}

.nav {
  padding: 0 $side-padding;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  height: 70px;

  .nav-logo {
    flex: 0 0 100px;
  }

  .nav-links {
    list-style-type: none;
    padding: 10px 0 20px 40px;

    li {
      display: inline;
      padding: 0 20px;
    }

    .nav-item {
      cursor: pointer;

      &:nth-last-child(1) {
        padding-right: 0;
      }
    }
  }
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .product-row {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f3f0eb;
    padding: 11px $side-padding 10px $side-padding;
    width: 100%;

    &:nth-last-child(1) {
      border-bottom: none;
    }

    .product-info {
      flex: 1 1;
      margin: 0 20px;

      h3 {
        margin-top: 0;
        color: #5dad93;
      }

      p {
        color: $gray-1;
        font-size: 14px;
      }
    }

    .product-add {
      box-sizing: border-box;
      background: $beige-1;
      flex: 0 0 200px;
      padding: 33px 20px 22px 20px;
    }

    .product-price {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      margin-top: 0;
    }
  }

  .product-thumbnail {
    width: 20%;
    img {
      min-width: 30px;
      max-width: 100%;
    }
  }
}

.cart-item-list {
  @extend .product-list;
  border-top: 1px solid $gray-1;
  max-height: 500px;
  padding: 0;
  overflow: auto;
}

.macarons-logo {
  width: 100px;
}

.page-wrapper {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  padding: 0 0 $footer-height 0;
}

.cart-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.cart-background {
  position: absolute;
  background: black;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  transition: all 0.4s ease-in-out;

  &.inactive {
    visibility: hidden;
    opacity: 0;
  }

  &.active {
    visibility: visible;
    opacity: 0.5;
  }
}

.cart-close {
  text-align: right;
  cursor: pointer;
}

.cart-pane {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  opacity: 1;
  width: 362px;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s ease-in-out;

  &.active {
    transform: translate3d(0, 0, 0);
  }
}

.cart-icon-wrapper {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.cart-icon {
  display: inline-block;
  // position: absolute;
  width: 22px;
  margin-right: 20px;
}

.cart-quantity {
  display: inline;
  background: $green-2;
  position: absolute;
  left: 12px;
  top: -8px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.btn-add {
  background: $green-1;
  border-radius: 2px;
  height: 50px;
  width: 175px;
  color: white;
  // font-size: 30px;

  &.added {
    background: $green-2;
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray-1;
}

.footer {
  height: $footer-height;
  background: $beige-1;
  position: absolute;
  bottom: 0;
  padding: 0 $side-padding;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .footer-left {
    width: 360px;

    h3 {
      font-weight: 500;
    }
  }

  .footer-right {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    padding-top: 20px;

    h4 {
      margin: 0;
    }

    .footer-link-list {
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;
        height: 38px;
      }
    }
  }

  .footer-copyright {
    color: $gray-2;
    font-weight: 600;
  }
}
