.cart-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.cart-background {
  position: absolute;
  background: black;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  transition: all 0.4s ease-in-out;

  &.inactive {
    visibility: hidden;
    opacity: 0;
  }

  &.active {
    visibility: visible;
    opacity: 0.5;
  }
}

.cart-close {
  text-align: right;
  cursor: pointer;
}

.cart-pane {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  opacity: 1;
  width: 362px;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s ease-in-out;

  &.active {
    transform: translate3d(0, 0, 0);
  }
}

.cart-item-list {
  @extend .product-list;
  border-top: 1px solid $gray-4;
  max-height: 500px;
  padding: 0;
  overflow: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray-4;
}
