.cart-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.cart-background {
  position: absolute;
  background: black;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  transition: all 0.4s ease-in-out;

  &.inactive {
    visibility: hidden;
    opacity: 0;
  }

  &.active {
    visibility: visible;
    opacity: 0.5;
  }
}

.cart-pane {
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  right: 0;
  opacity: 1;
  padding: 30px;
  position: absolute;
  transform: translate3d(105%, 0, 0);
  transition: transform 0.4s ease-in-out;

  @media #{$desktop-size} {
    width: 362px;
  }

  &.active {
    transform: translate3d(0, 0, 0);
  }
}

.cart-header {
  flex: 0 0;
  .cart-close {
    text-align: right;
    cursor: pointer;
  }
}

.cart-item-list {
  @extend .product-list;
  border-top: 1px solid $gray-4;
  flex: 0 1 auto;
  padding: 0;
  overflow: auto;
  margin: 0;

  .product-thumbnail {
    min-width: 80px;
  }

  .product-info {
    h3 {
      font-size: 16px;
      line-height: 20px;
    }

    h4 {
      font-size: 12px;
      margin: 0;
    }

    p {
      font-size: 10px;
      margin: 6px 0;
    }
  }
}

.cart-total {
  display: flex;
  flex: 0 0;
  justify-content: space-between;
  border-top: 1px solid $gray-4;
}
